<head>
	<meta charset="UTF-8">
	{% block title %}<title>Calendar</title>{% endblock %}
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	
	<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/functions.js') }}"></script>

	{% block head %}
	{% endblock %}
	
</head>

<body>
	{% block backButton %} <!-- overwrite in child to remove -->
	<!--<div style="float: left;">-->
	<div style="text-align: left; position: fixed; float: left; top: 3px; left: 3px;">
	<a href="{{ url_for('index') }}"><img class="logIcon" src="{{ url_for('static', filename='backward.png') }}"></a>
	</div>
	{% endblock %}
	{% block loginButton %} <!-- overwrite in child to remove -->
	<div style="text-align: right; position: fixed; float: right; top: 3px; right: 3px;">
	{% if login[0] -%} You are logged in as {{ login[1] }}  <a href="{{ url_for('logout') }}"><img class="logIcon" src="{{ url_for('static', filename='exit.png') }}"></a>
		{% if login[1] == "Admin" %}
		<div style="text-align: right;">Go to <a href="{{ url_for('adminPanel') }}">admin panel</a></div>
		{% else %}
		<div style="text-align: right;">Go to <a href="{{ url_for('userPanel') }}">user panel</a></div>
		{% endif %}
	{%- else -%}
	You are not currently logged in: <a href="{{ url_for('login') }}"><img class="logIcon" src="{{ url_for('static', filename='entrance.png') }}"> Log In</a>{%- endif %}
	</div>
	{% endblock %}
	<br>
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>
	{% block helpButton %}
	<div style="text-align: left; float: left; position: fixed; left: 3px; bottom: 3px; font-size: 75%;">
		<a href="{{ url_for('helpPanel') }}">help</a>
	</div>
	{% endblock %}
</body>